*.DS_Store
+
+.idea/
+cmd/kube-perceiver/dependencies/
+cmd/kube-perceiver/kube-perceiver
+cmd/perceptor-scanner/dependencies/perceptor-scanner
Add a comment to this line
+cmd/perceptor/dependencies/
